openapi: 3.1.0
info:
  title: RoadSoS Emergency API
  description: |
    Backend API for the RoadSoS emergency response platform.
    Provides incident management, emergency service search, authentication,
    and system health monitoring.
  version: 1.0.0
  contact:
    name: RoadSoS Team
  license:
    name: MIT

servers:
  - url: https://api.roadsos.in/v1
    description: Production server
  - url: http://localhost:54321/v1
    description: Local Supabase dev

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    supabaseAnon:
      type: apiKey
      in: header
      name: apikey
      description: Supabase anon/public key

  schemas:
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
        message:
          type: string
        details:
          type: object

    Incident:
      type: object
      required:
        - trigger_type
        - location
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        user_name:
          type: string
          maxLength: 100
        blood_group:
          type: string
          enum: [A+, A-, B+, B-, AB+, AB-, O+, O-]
        trigger_type:
          type: string
          enum: [auto, manual]
        location:
          type: object
          properties:
            lat:
              type: number
              minimum: -90
              maximum: 90
            lng:
              type: number
              minimum: -180
              maximum: 180
          required: [lat, lng]
        address:
          type: string
        country_code:
          type: string
          pattern: "^[A-Z]{2}$"
          default: IN
        status:
          type: string
          enum: [active, resolved]
          readOnly: true
        sms_status:
          type: object
          readOnly: true
          description: Per-contact delivery status
        created_at:
          type: string
          format: date-time
          readOnly: true
        resolved_at:
          type: string
          format: date-time
          readOnly: true

    IncidentCreate:
      type: object
      required:
        - trigger_type
        - location
      properties:
        user_name:
          type: string
        blood_group:
          type: string
        trigger_type:
          type: string
          enum: [auto, manual]
        location:
          type: object
          properties:
            lat:
              type: number
            lng:
              type: number
          required: [lat, lng]
        address:
          type: string
        country_code:
          type: string

    Service:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
        service_type:
          type: string
          enum:
            - hospital
            - trauma_centre
            - ambulance
            - police
            - towing
            - puncture
            - showroom
        address:
          type: string
        city:
          type: string
        state:
          type: string
        primary_phone:
          type: string
        alt_phones:
          type: array
          items:
            type: string
        is_24x7:
          type: boolean
        tags:
          type: object
        distance_km:
          type: number
          readOnly: true
          description: Only present in search results
        lat:
          type: number
          readOnly: true
        lng:
          type: number
          readOnly: true

    NearbySearch:
      type: object
      required:
        - lat
        - lng
      properties:
        lat:
          type: number
          description: User latitude
        lng:
          type: number
          description: User longitude
        radius_km:
          type: number
          default: 10
          maximum: 25
        service_type:
          type: string
          enum:
            - hospital
            - trauma_centre
            - ambulance
            - police
            - towing
            - puncture
            - showroom
        country_code:
          type: string
          default: IN

    AuthRegister:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 6
        user_metadata:
          type: object
          properties:
            name:
              type: string
            blood_group:
              type: string

    AuthLogin:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
        password:
          type: string

    AuthResponse:
      type: object
      properties:
        access_token:
          type: string
        refresh_token:
          type: string
        expires_at:
          type: integer
        user:
          type: object
          properties:
            id:
              type: string
              format: uuid
            email:
              type: string
            user_metadata:
              type: object

  parameters:
    incidentId:
      name: incidentId
      in: path
      required: true
      schema:
        type: string
        format: uuid

paths:
  /health:
    get:
      operationId: healthCheck
      summary: Health check endpoint
      description: Returns API health status and version info
      tags:
        - System
      responses:
        "200":
          description: API is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [healthy]
                  version:
                    type: string
                  timestamp:
                    type: string
                    format: date-time
                  uptime:
                    type: number
        "503":
          description: API is unhealthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /incidents:
    post:
      operationId: createIncident
      summary: Create a new incident
      description: Logs an SOS trigger (manual or automatic crash detection)
      tags:
        - Incidents
      security:
        - bearerAuth: []
        - supabaseAnon: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IncidentCreate"
      responses:
        "201":
          description: Incident created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Incident"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    get:
      operationId: listIncidents
      summary: List incidents for the authenticated user
      tags:
        - Incidents
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [active, resolved]
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        "200":
          description: List of incidents
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Incident"
                  total:
                    type: integer
                  limit:
                    type: integer
                  offset:
                    type: integer
        "401":
          description: Unauthorized

  /incidents/{incidentId}:
    get:
      operationId: getIncident
      summary: Get incident details by ID
      tags:
        - Incidents
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/incidentId"
      responses:
        "200":
          description: Incident details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Incident"
        "404":
          description: Incident not found

    patch:
      operationId: updateIncident
      summary: Update incident (e.g., mark resolved)
      tags:
        - Incidents
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/incidentId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum: [active, resolved]
                sms_status:
                  type: object
      responses:
        "200":
          description: Incident updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Incident"

  /services/nearby:
    get:
      operationId: searchNearbyServices
      summary: Find emergency services near a location
      description: Uses PostGIS spatial query (or haversine fallback)
      tags:
        - Services
      security:
        - supabaseAnon: []
      parameters:
        - name: lat
          in: query
          required: true
          schema:
            type: number
        - name: lng
          in: query
          required: true
          schema:
            type: number
        - name: radius_km
          in: query
          schema:
            type: number
            default: 10
            maximum: 25
        - name: service_type
          in: query
          schema:
            type: string
            enum:
              - hospital
              - trauma_centre
              - ambulance
              - police
              - towing
              - puncture
              - showroom
        - name: country_code
          in: query
          schema:
            type: string
            default: IN
      responses:
        "200":
          description: List of nearby services sorted by distance
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Service"
        "400":
          description: Missing or invalid location parameters

  /auth/register:
    post:
      operationId: register
      summary: Register a new user account
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthRegister"
      responses:
        "201":
          description: User registered successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "409":
          description: Email already registered

  /auth/login:
    post:
      operationId: login
      summary: Authenticate and receive JWT tokens
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthLogin"
      responses:
        "200":
          description: Login successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "401":
          description: Invalid credentials

  /auth/logout:
    post:
      operationId: logout
      summary: Invalidate the current session
      tags:
        - Auth
      security:
        - bearerAuth: []
      responses:
        "204":
          description: Logged out successfully

  /auth/reset-password:
    post:
      operationId: resetPassword
      summary: Send password reset email
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  format: email
      responses:
        "204":
          description: Reset email sent (if account exists)
